name: Publish

on:
  push:
    branches: ['main']
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: DeterminateSystems/determinate-nix-action@main
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - run: nix build .#cv-all
    - uses: actions/upload-artifact@v6
      with:
        name: cv-pdfs-all
        path: result/jago-cv-*.pdf
    - name: Create release
      run: |
        case "${{ github.event_name }}" in
          workflow_dispatch)
            TAG="v$(date +%Y%m%d-%H%M%S)"
            ;;
          push)
            TAG="v${GITHUB_SHA::7}"
            ;;
          *)
            TAG="${{ github.ref_name }}"
            ;;
        esac
        gh release create "$TAG" result/jago-cv-*.pdf --title "JAGO - CV" --generate-notes
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
